{% extends "base.html" %}
{% block body %}
<div class="col-lg-3">
	<div class="panel panel-default">
		{% with total_de_contatos=perfil_logado.contatos.count %}
			{% if total_de_contatos %}
			<div class="panel-heading">
				<strong>Você tem {{ total_de_contatos }} contato{{ total_de_contatos | pluralize }}</strong>
			</div>
			<ul class="list-group">
				{% for contato in perfil_logado.contatos.all %} 
					<li class="list-group-item">
						<a href="{% url 'exibir' contato.id %}">{{ contato.nome }}</a>
					</li>
				{% endfor %}
			</ul>
			{% else %}
			<div class="panel-body">
				<p>Você não possui contatos no momento :(</p>
			</div>
			{% endif %}
		{% endwith %}
	</div>

	<div class="panel panel-default">
		{% with total_de_contatos_bloqueados=perfil_logado.contatos_bloqueados.count %}
			{% if total_de_contatos_bloqueados %}
			<div class="panel-heading">
				<strong>Você tem {{ total_de_contatos_bloqueados }} contato{{ total_de_contatos_bloaqueados | pluralize }} bloqueado</strong>
			</div>
			<ul class="list-group">
				{% for contato in perfil_logado.contatos_bloqueados.all %} 
					<li class="list-group-item">
						<a href="{% url 'exibir' contato.id %}">{{ contato.nome }}</a>
					</li>
				{% endfor %}
			</ul>
			{% else %}
			<div class="panel-body">
				<p>Você não possui contatos bloqueados no momento :)</p>
			</div>
			{% endif %}
		{% endwith %}
	</div>
</div>
<div class="col-lg-6">
	<div>
		<form action="{% url 'procurar' %}" method="post">
			{% csrf_token %}
			<div class="row">
				<input class="col-lg-8" type="text" name="username" id="username" placeholder="procurar usuario">
				<button class="btn btn-lg btn-primary col-lg-4" type="submit">Procurar</button>
			</div>
			{% if form.errors %}
				<div class="alert alert-danger">
					<button type="button" class="close">&times;</button>
					{{form.non_field_errors}}
				</div>
			{% endif %}
		</form>
		<br><br><br>
	</div>
	<div>
		<form action="{% url 'post' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<textarea class="col-lg-12 form-control" id="text" name="text" placeholder="Diga alguma coisa."></textarea>
		</div>
		<input type="file" name="imagem" id="imagem" class="form-control">
		{% if form.errors %}
			<div class="alert alert-danger">
				<button type="button" class="close">&times;</button>
				{{form.non_field_errors}}
			</div>
		{% endif %}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Postar</button>
	</form>
	<br><br><br>
	</div>
	{% if perfil_logado.usuario.is_superuser %}
		<!-- <ul class="nav nav-tabs">
		  	<li class="active"><a data-toggle="tab" href="#usuarios">Usuarios</a></li>
		  	<li><a data-toggle="tab" href="#timeline">Timeline</a></li>
		</ul> -->
	{% endif %}
		{% if perfil_logado.usuario.is_superuser %}
			<div id="usuarios-tab">
				<div class="panel panel-default" id="usuarios-tab">
					<div class="panel-heading">
						<strong>Todos os Perfis</strong>
					</div>
					{% if perfis %}
					<ul>
						{% for perfil in perfis %}
						<li>
						<a href="{% url 'exibir' perfil.id %}">{{ perfil.nome }} / {{ perfil.email }}</a>
						</li>
						{% endfor %}
					</ul>
					{% else %}
					<p>Nenhum Perfil encontrado!</p>
					{% endif %}
				</div>
			</div>
		{% endif %}
		<div id="timeline-tab">
			{% for post in posts %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>{{ post.perfil.nome }}</strong>
						{% if post.perfil == perfil_logado or perfil_logado.usuario.is_superuser %}
							<a href="{% url 'delete_post' post.id %}" class="pull-right">Apagar</a>
						{% endif %}
					</div>
					<!-- {% if post.imagem %} -->
						<img src="{{ post.imagem }}">
					<!-- {% endif %} -->
					<p>{{ post.text }}</p>
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-4"><a href="{% url 'like' post.id %}">Curtir</a></div>
							<div class="col-lg-4">{{ post.likes }} likes</div>
							<div class="col-lg-4">{{ post.pub_date }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
</div>
<div class="col-lg-3">
	<div class="panel panel-default">
		{% with total_de_convites=perfil_logado.convites_recebidos.count %}
			{% if total_de_convites %}
			<div class="panel-heading">
				<strong>Você tem {{ total_de_convites }} convite{{ total_de_convites | pluralize }} aguardando aprovação</strong>
			</div>
			<ul class="list-group">
				{% for convite in perfil_logado.convites_recebidos.all %} 
					<li class="list-group-item">
						{{ convite.solicitante.nome }}
						<a href="{% url 'aceitar' convite.id %}" class="pull-right">aceitar</a>
					</li>
				{% endfor %}
			</ul>
			{% else %}
			<div class="panel-body">
				<p>Nenhum convite recebido :(</p>
			</div>
			{% endif %}
		{% endwith %}
	</div>
</div>
<div class="col-lg-3">
	<div class="panel panel-default">
		{% with total_de_convites=perfil_logado.convites_feitos.count %}
			{% if total_de_convites %}
			<div class="panel-heading">
				<strong>Você tem {{ total_de_convites }} convite{{ total_de_convites | pluralize }} aguardando aprovação</strong>
			</div>
			<ul class="list-group">
				{% for convite in perfil_logado.convites_feitos.all %} 
					<li class="list-group-item">
						{{ convite.convidado.nome }}
					</li>
				{% endfor %}
			</ul>
			{% else %}
			<div class="panel-body">
				<p>Nenhum convite enviado :(</p>
			</div>
			{% endif %}
		{% endwith %}
	</div>
</div>
{% endblock %}