{% extends "base_usuario.html" %}

{% block body %}
	
	<form action="" class="form-signin" role="form" method="post">
		{% csrf_token %}
		<h2 class="form-signin-heading">Change Password</h2>

		<input type="password" class="form-control" id="id_oldpassword" name="old_password" placeholder="Old Password" required autofocus>

		<input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="New Password" required>
		
		<input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="Confirm Password" required>


		<button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Change</button>

		<input type="hidden" name="next" value="{{ next }}">

		{% if form.errors %}
			<div class="alert alert-danger">
				<button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
				{{ form.errors }}
			</div>
		{% endif %}
	</form>

{% endblock %}